.new-recipe-btn{
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height:50px;

    border-radius: 5px;
    font-size: 1.6rem;
    color: rgb(235,235,235);
}