.friend-info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    margin: 0 auto;  
    border-radius: 15px;
    width: 100%;
    max-width: 450px;
    background-color: rgb(255,255,255);
}
.friend-profile-pic-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    font-size: 3rem;
}
.friend-name-blocks-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friend-name-block{
    text-align: center;
    margin-bottom: 10px;
}
.friend-name-desc{
    font-size: .9rem
}
.friend-name-value{

    font-size: 1.1rem;
}

@media(min-width: 420px ){
    .friend-info-block{
        flex-direction: row;
        justify-content: space-around;
    }
    .friend-profile-pic-wrapper{
        margin-right: 30px;
    }
    .friend-name-blocks-wrapper{
        align-self: flex-start;
    }
}