

.header-items-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}
.back-btn{
    display: flex;
    margin-right:auto;
    padding: 5px 15px;
    font-size: 1.2rem;
    align-items: center; 
}
.delete-recipe-btn{
    width: 30%;
    max-width: 100px;
    margin-right: 3%;
}


.edit-recipe-btn{
    width: 40%;
    max-width: 150px;
}

.owner-display-name{
    border-radius: 5px;
    margin-right: auto;
    margin-left: 30px; 
    padding: 5px 10px;
}
.owner-display-name:hover{
    text-decoration: none;
}