

.header-items-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}
.back-btn{
    display: flex;
    margin-right:auto;
    padding: 5px 15px;
    font-size: 1.2rem;
    align-items: center; 
}
.not-editing-btn{
    width: 30%;
}

.owner-display-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-right: auto;
    margin-left: 30px; 
    padding: 5px 10px;
    height: 40px;
}
.owner-display-name:hover{
    text-decoration: none;
}