.animated-loading-spin{
    -webkit-animation-name: loading-spinner;
    animation-name: loading-spinner;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes loading-spinner {
    from {-webkit-transform: rotateZ(0deg);transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);transform: rotateZ(360deg)}
}
